# =============================== OS files ===============================
.DS_Store
Thumbs.db

# =============================== IntelliJ IDEA ===============================
.idea/
*.iml
*.iws
out/

# =============================== Eclipse ===============================
backend/.project
backend/.classpath
backend/.settings/
backend/*.classpath
backend/*.project
bin/

# =============================== VS Code ===============================
.vscode/

# =============================== Java / Spring Boot ===============================
backend/target/
backend/*.log
backend/*.class

# Maven
backend/.mvn/wrapper/maven-wrapper.jar

# Gradle
backend/.gradle/
backend/build/

# Spring Boot specific
backend/application.properties
backend/application.yml
backend/src/main/resources/db/init.sql

# Config
backend/.env
backend/.env.*
backend/.env
backend/.env.*


backend/HELP.md
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.factorypath
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



# =============================== Angular / Node ===============================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.tmp/
frontend/out-tsc/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Environment files
frontend/.env
frontend/.env.*

# =============================== Misc ===============================
coverage/
*.tmp
*.swp
